div.errors, .error {
	color: red;
}

ul.errorlist, ul.errorlist li {
	list-style: none;
}

div.form.feedback input, div.form.feedback textarea {
	display: block;
	margin-bottom: 20px;
	width: 100%;
}

div.form.feedback input.submit {
	width: auto;
}

.required {
	color: red;
}