{% extends 'layouts/archi.html' %}
{% block title %}
	Аттестация рабочих мест
{% endblock title %}
{% block body_title_with_url %}
	<h2 class="art-postheader">
		Аттестация рабочих мест
	</h2>
{% endblock body_title_with_url %}
{% block body_text %}

	<p><strong>АТТЕСТАЦИЯ РАБОЧИХ МЕСТ ПО УСЛОВИЯМ ТРУДА</strong> -- оценка условий труда на
	рабочих местах в целях выявления вредных и (или) опасных
	производственных факторов и осуществления мероприятий по приведению УТ
	в соответствие с государственными нормативными требованиями ОТ. В
	соответствии со ст. 209 ТК РФ А. р. м по УТ проводится в порядке,
	установленном федеральным органом исполнительной власти,
	осуществляющим функции по выработке государственной политики и
	нормативно-правовому регулированию в сфере труда.
	В соответствии со ст. 218 ТК РФ комитет (комиссия) по охране труда
	организует совместные действия работодателя и работников по
	обеспечению требований охраны труда, а также организует проведение
	проверок условий и охраны труда на рабочих местах и информирование
	работников о результатах этих проверок.
	В ст. 212 ТК РФ указано, что работодатель обязан обеспечить:
	организацию контроля за состоянием условий труда на рабочих местах;
	информирование работников об УТ и ОТ на рабочих местах;
	проведение А. р. м. по УТ.</p>
{% endblock body_text %}
