{% extends 'layouts/archi.html' %}
{% block title %}

{% endblock title %}
{% block body_title_with_url %}
	<h2 class="art-postheader">
		Контакты
	</h2>
{% endblock body_title_with_url %}
{% block body_text %}
	<table cellpadding="0" cellspacing="0" class="c7">
		<tbody>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Полное название</span></p></td>
			<td class="c0"><p class="c3 c6"><span class="c9 c4">Общество с ограниченной ответственностью</span></p>

				<p class="c3 c6"><span class="c9 c4">«АудитЭнергоСтрой»</span></p>

				<p class="c2 c6"><span class="c4 c9"></span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Сокращенное </span></p>

				<p class="c3"><span class="c4">название</span></p></td>
			<td class="c0"><p class="c3 c6"><span class="c9 c4">ООО &nbsp;«АудитЭнергоСтрой»</span></p>

				<p class="c2"><span class="c9 c4"></span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Юридический адрес</span></p></td>
			<td class="c0"><p class="c3"><span class="c4">&nbsp;426000, &nbsp; УР, &nbsp; &nbsp;г. Ижевск, &nbsp; &nbsp; ул. Районная, 57.</span>
			</p>

				<p class="c2"><span class="c4"></span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Фактический адрес</span></p></td>
			<td class="c0"><p class="c3"><span class="c4">426039, &nbsp; УР, &nbsp; &nbsp;г. Ижевск, &nbsp; &nbsp; ул. Воткинское Шоссе, &nbsp; д. 170, офис &nbsp;216</span>
			</p>

				<p class="c3"><span class="c4">&nbsp;</span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Регистрация </span></p></td>
			<td class="c0"><p class="c3"><span class="c4">МИ ФНС &nbsp;№8 &nbsp;по &nbsp;УР &nbsp; г.Ижевска</span></p>

				<p class="c2"><span class="c4"></span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Директор</span></p>

				<p class="c2"><span class="c4"></span></p></td>
			<td class="c0"><p class="c3"><span class="c4">Медведев Валерий Георгиевич</span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">ОГРН</span></p></td>
			<td class="c0"><p class="c3"><span class="c4">1111840012162</span></p>

				<p class="c2"><span class="c4"></span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">ИНН</span></p></td>
			<td class="c0"><p class="c3"><span class="c4">1840002848</span></p>

				<p class="c2"><span class="c4"></span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">КПП</span></p></td>
			<td class="c0"><p class="c3"><span class="c4">184001001</span></p>

				<p class="c2"><span class="c4"></span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Банк</span></p></td>
			<td class="c0"><p class="c3"><span class="c4">Удмуртский РФ ОАО «Россельхозбанк» г.Ижевск</span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Расчетный счет</span></p></td>
			<td class="c0"><p class="c3"><span class="c4">40702810328000001213</span></p>

				<p class="c2"><span class="c4"></span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Корреспондентский счет</span></p></td>
			<td class="c0"><p class="c3"><span class="c4">30101810100000000710</span></p>

				<p class="c2"><span class="c4"></span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">БИК</span></p>

				<p class="c2"><span class="c4"></span></p></td>
			<td class="c0"><p class="c3"><span class="c4">049401710</span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Допуск на работы</span></p></td>
			<td class="c0"><p class="c3"><span class="c4">СРО НП </span><span class="c9 c4">«Союз «Энергоэффективность» &nbsp; &nbsp; &nbsp;</span><span
					class="c4">№ СРО-Э-019 &nbsp; &nbsp; Свидетельство № 191-2011-1840002848-01 &nbsp; &nbsp;от14.10.2011г.</span>
			</p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">Телефон/факс</span></p>

				<p class="c2"><span class="c4"></span></p></td>
			<td class="c0"><p class="c3"><span class="c4">&nbsp;(3412) 551-211 / 558 - 111</span></p></td>
		</tr>
		<tr class="c5">
			<td class="c8"><p class="c3"><span class="c4">E-mail</span></p>

				<p class="c2"><span class="c4"></span></p></td>
			<td class="c0"><p class="c3"><span class="c4 c11"><a class="c1" href="mailto:AES18ru@gmail.com">AES18ru@gmail.com</a></span>
			</p>

				<p class="c2"><span class="c11 c4"><a class="c1" href="mailto:AES18ru@gmail.com"></a></span></p></td>
		</tr>
		</tbody>
	</table>
{% endblock body_text %}