{% extends 'layouts/archi.html' %}
{% block title %}
	Энергоаудит
{% endblock title %}
{% block body_title_with_url %}
	<h2 class="art-postheader">
		Энергоаудит
	</h2>
{% endblock body_title_with_url %}
{% block body_text %}
<p class="c2"><span class="c0">&nbsp;</span><span class="c0 c1"><strong>Энергоаудит</strong></span><span class="c0">&nbsp;- обследование энергетических объектов с целью выявления энергетической эффективности, определение мер по ее повышению и возможностей их реализации, включающее сбор документальной информации, инструментальное обследование, анализ информации и разработку рекомендаций по энергосбережению.</span>
</p>

<p class="c2"><span class="c0 c1">Энергетический паспорт</span><span class="c0">&nbsp;- регламентированный нормативный документ, в формах которого по результатам энергоаудита сведены фактические и рекомендуемые показатели энергоэффективности и программа реализации имеющегося резерва экономии энергоресурсов.</span>
</p>

<p class="c2 c3"><span class="c9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c0">У руководителя любого предприятия при столкновении с энергосбережением, а соответственно и с энергоаудитом возникает огромное количество вопросов:</span>
</p>
<ol class="c5" start="1">
	<li class="c4"><span class="c0 c1">Для чего нужен энергоаудит, что он дает?</span></li>
	<li class="c4"><span class="c0 c1">Какой смысл в работах, проводимых при энергоаудите?</span></li>
	<li class="c4"><span class="c0 c1">Каков потенциал</span><span class="c0">&nbsp;</span><span class="c0 c1">энергосбережения</span><span
			class="c0">&nbsp;</span><span class="c0 c1">&nbsp;на моем предприятии?</span></li>
	<li class="c4"><span class="c0 c1">Стоит ли вкладывать деньги в мероприятия по энергосбережению и какова стоимостьэнергоаудита?</span>
	</li>
	<li class="c4"><span class="c0 c1">Насколько велик риск при этом?</span></li>
	<li class="c4"><span class="c0 c1">Какая должна быть</span><span class="c0">&nbsp;</span><span class="c0 c1">квалификация</span><span
			class="c0">&nbsp;</span><span class="c0 c1">для</span><span class="c0">&nbsp;&nbsp;</span><span
			class="c0 c1">качественного</span><span class="c0">&nbsp;</span><span
			class="c0 c1">выполнения таких работ?</span>
	</li>
	<li class="c4"><span class="c0 c1">Что определяет</span><span class="c0">&nbsp;</span><span class="c0 c1">&nbsp;качество</span><span
			class="c0">&nbsp;</span><span class="c0 c1">выполненных работ?</span></li>
	<li class="c4"><span class="c0 c1">Что такое</span><span class="c0">&nbsp;</span><span class="c0 c1">программа энергоаудита? и что в нее входит?</span>
	</li>
</ol>
<p class="c2"><span class="c0">&nbsp;</span></p>

<p class="c2"><span class="c0">Эти вопросы можно перечислять и перечислять. На самом деле все они вполне уместны и крайне важны. Но суть всех этих вопросов обычно заключается в одном основном: "Где гарантия что деньги, вкладываемые в проведение энергоаудита и мероприятий по энергосбережению, быстро окупятся?"</span>
</p>

<p class="c2"><span class="c0">И этот вопрос вполне понятен и обоснован, поскольку речь идет об интеллектуальном труде, где первый видимый результат – это кипа исписанной бумаги и бизнес-план с дополнительными затратами. И именно в «это» придется вкладывать деньги. Это уже не та, привычная нам, схема материальных взаимоотношений, где мы заплатили деньги за товар или услугу и тут же получили, увидели, ощутили приобретенный нами товар.</span>
</p>

<p class="c2"><span class="c0">&nbsp;</span></p>

<p class="c2"><span class="c0">Так что же такое энергоаудит предприятия и энергосбережение? Существует множество различных трактовок понятий, определений, классификаций. Я предлагаю рассматривать наиболее простые и понятные определения этих двух терминов:</span>
</p>

<p class="c2"><span class="c0 c1">Энергосбережение</span><span class="c0">&nbsp;– это реализация и поиск решений, которые эффективны как энергетически, так и экономически для хозяйствования в условиях абсолютного контроля над потоками энергетических ресурсов. А начальным этапом энергосбережения является энергоаудит – необходимый инструмент и основа для разработки программы энергосбережения.</span>
</p>

<p class="c2"><span class="c0 c1">Энергоаудит</span><span class="c0">&nbsp;или&nbsp;</span><span class="c0 c1">энергоаудит контроль</span><span
		class="c0">&nbsp;– это обследование объекта энергопотребления, поиск нерационального использования энергетических ресурсов, определение параметров повышения энергоэффективности и составление бизнес-плана по приведению исследуемого объекта в энергоэффективный и энергетически целесообразный вид, с учетом всех вышесказанных пунктов.</span>
</p>

<p class="c2"><span class="c0">&nbsp;</span></p>

<p class="c2"><span class="c0">Результатом энергоаудита является бизнес-план. Это не просто бизнес-план, а целый инвестиционный проект, поскольку проведение энергосбережения процесс требующий, как правило, значительных финансовых вложений. Необходимо чтобы бизнес-план, разработанный на основе энергоаудита, имел такой же формат, как и бизнес-планы других проектов этого предприятия, чтобы критерии оценки и методики совпадали. Только при выполнении этих условий можно оценивать шансы на реализацию проекта по энергосбережению.</span>
</p>

<p class="c7"><span class="c0"></span></p>
{% endblock body_text %}


