{% extends 'layouts/robingood18.html' %}
{% block title %}
	Законодательство
{% endblock title %}
{% block body_title_with_url %}
	<h2 class="art-postheader">
		Законодательство
	</h2>
{% endblock body_title_with_url %}
{% block body_text %}
	<h6>1. Федеральный закон от 23.11.2009 № 261-ФЗ</h6>
	«Об энергосбережении и о повышении энергетической эффективности и о внесении изменений в отдельные законодательные акты Российской Федерации»
	<h6>2. Федеральный закон от 30.12.2004 № 210-ФЗ</h6>
	«Об основах регулирования тарифов организаций коммунального комплекса»
	<h6>3. Федеральный закон от 14.04.1995 № 41-ФЗ</h6>
	«О государственном регулировании тарифов на электрическую и тепловую энергию в Российской Федерации»
	<h6>4. Федеральный закон от 08.05.2010 № 83-ФЗ</h6>
	«О внесении изменений в отдельные законодательные акты Российской Федерации в связи с совершенствованием правового положения государственных (муниципальных) учреждений»«Об энергосбережении и о повышении энергетической эффективности и о внесении изменений в отдельные законодательные акты Российской Федерации»
	<h6>5. Федеральный закон от 27.07.2010 № 237-ФЗ</h6>
	«О внесении изменений в жилищный кодекс российской федерации и отдельные законодательные акты российской федерации»
	<h6>6. Федеральный закон от 27.07.2010 № 190-ФЗ</h6>
	«О теплоснабжении»
	<h6>7. Федеральный закон от 26.12.2005 № 184-ФЗ</h6>
	«О внесении изменений в федеральный закон “Об основах регулирования тарифов организаций коммунального комплекса" и некоторые законодательные акты российской федерации »
	<h6>8. Федеральный закон от 26.03.2003 № 35-ФЗ</h6>
	«Об электроэнергетике»
{% endblock body_text %}
