{% extends "layouts/archi.html" %}
{% block add_css %}
	<link rel="stylesheet" type="text/css" href="/public/css/application/main/license/style.css" media="screen"/>
{% endblock %}

{% block title %}Лицензии{% endblock %}

{% block body_title_with_url %}
	<h2 class="art-postheader">
		Лицензии
	</h2>
{% endblock %}

{% block body_text %}
	<div class="center">
		<p>
			<a href="/public/img/application/main/license/apm_makarov.jpg"><img src="/public/img/application/main/license/preview/apm_makarov.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/apm_suhih.jpg"><img src="/public/img/application/main/license/preview/apm_suhih.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/mku.jpg"><img src="/public/img/application/main/license/preview/mku.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/cpo.jpg"><img src="/public/img/application/main/license/preview/cpo.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/suu.jpg"><img src="/public/img/application/main/license/preview/suu.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/tuu.jpg"><img src="/public/img/application/main/license/preview/tuu.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/udza.jpg"><img src="/public/img/application/main/license/preview/udza.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/001.jpg"><img src="/public/img/application/main/license/preview/001.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/002.jpg"><img src="/public/img/application/main/license/preview/002.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/003.jpg"><img src="/public/img/application/main/license/preview/003.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/004.jpg"><img src="/public/img/application/main/license/preview/004.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/005.jpg"><img src="/public/img/application/main/license/preview/005.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/006.jpg"><img src="/public/img/application/main/license/preview/006.jpg"></a>
		</p>
	</div>
{% endblock %}