{% extends "layouts/trees.html" %}
{% block add_css %}
	<link rel="stylesheet" type="text/css" href="/public/css/application/main/license/style.css" media="screen"/>
{% endblock %}

{% block title %}Лицензии{% endblock %}

{% block body_title_with_url %}
	<h2 class="art-postheader">
		Лицензии
	</h2>
{% endblock %}

{% block body_text %}
	<div class="center">
		<p>
			<a href="/public/img/application/main/license/dop.jpg"><img src="/public/img/application/main/license/preview/dop.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/001.jpg"><img src="/public/img/application/main/license/preview/001.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/002.jpg"><img src="/public/img/application/main/license/preview/002.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/003.jpg"><img src="/public/img/application/main/license/preview/003.jpg"></a>
		</p>
		<p>
			<a href="/public/img/application/main/license/004.jpg"><img src="/public/img/application/main/license/preview/004.jpg"></a>
		</p>
	</div>
{% endblock %}