{% extends 'layouts/archi.html' %}
{% block title %}
	Предложение
{% endblock title %}
{% block body_title_with_url %}
	<h2 class="art-postheader">
		Предложение
	</h2>
{% endblock body_title_with_url %}
{% block body_text %}
	<p>Наша кампания создана для работы в сфере энергетики. Мы можем провести обследование вашего предприятия,
		разработать
		рекомендации по энергоснабжению, сделать проект, воплотить его в жизнь, защитить ваши интересы перед
		энергосбытовыми
		поставщиками и пр.
	</p>

	<p>Во исполнение федерального закона №261-ФЗ от 23.11.2009г. наше предприятие готово осуществить комплексные
		энергетические обследования (энергоаудит) жилого фонда, административно-общественных зданий, объектов торговли и
		ЖКХ. В том числе:
	</p>

	<div class="line">
		<p>- перерасчёт установленных расходов на потребление воды и газа, лимитов на электрическую и тепловую энергию;</p>
		<p>- проведение инструментального обследования в контрольных точках, для определения реальных расходов в сетях теплоснабжения, холодного и горячего водоснабжения, количества и качества потребляемой электроэнергии;</p>
		<p>- проведение тепловизионного контроля для выявления дефектов тепловой изоляции и ограждающих конструкций;</p>
		<p>- оформление энергетического паспорта установленного образца, с перечнем рекомендуемых энергосберегающих мероприятий;</p>
		<p>- сбор достоверной информации о работе энергопотребляемого оборудования, находящегося на балансе предприятия, в том числе тепловых сетей и сетей электроснабжения, водоснабжения, водоотведения, а так же техническая оценка с выдачей рекомендаций на основании анализа собранной информации;</p>
		<p>- представлять и защищать интересы потребителя в спорах с энегопоставляющими организациями;</p>
		<p>- помогаем в определении класса энергетической эффективности жилых зданий согласно приказа Минрегион развития №161 от 8 апреля 2011г.</p>
	</div>
	<p>Предвидя вопросы по стоимости энергоаудиита сообщаем, что его ориентировочную стоимость можно определить исходя
		из
		расценки – от 20 до 27 руб./м2 в зависимости от сложности здания.
	</p>
	<p>Для предприятий мы готовы:</p>
	<ol>
		<li>Провести энергетические обследования (энергоаудит) предприятий.</li>
		<li>Разработать схемы теплоснабжения.</li>
		<li>Сформировать инвестиционные программы с последующим сопровождением.</li>
		<li>Провести экспертизу и обоснование нормативов потерь.</li>
	</ol>
{% endblock body_text %}