<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de-de" lang="de-de">
<head>
	{% block header %}
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta content="{% block keywords %}{% endblock keywords %}" name="keywords">
		<meta content="{% block description %}{% endblock description %}" name="description">
		<title>
			{% block title %}
				О компании
			{% endblock title %}
		</title>
		<link href="" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
		{% block add_css %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="/public/css/layout/archi/template.css" media="screen"/>
		{% block add_js %}{% endblock %}
	{% endblock header %}

</head>
<body class="art-j16">
<div id="art-page-background-middle-texture">
<div id="art-page-background-glare">
	<div id="art-page-background-glare-image"></div>
</div>
<div id="art-main">
<div class="cleared reset-box"></div>
<div class="art-header">
	<div class="logo">
		<a href="/"></a>
	</div>
	<div class="art-header-clip">

		<div class="art-header-jpeg"></div>
	</div>
	<div class="art-header-wrapper">
		<div class="art-header-inner">
			<div class="art-logo">
			</div>

		</div>
	</div>
</div>
<div class="cleared reset-box"></div>
<div class="art-sheet">
	<div class="art-sheet-cc"></div>
	<div class="art-sheet-body">
		<div class="art-nav">
			<div class="art-nav-l"></div>
			<div class="art-nav-r"></div>
			<div class="art-nav-outer">
				<div class="art-nav-center">
					<ul class="art-hmenu">
						<li class="item465">
							<a href="/">
								<span class="l"></span>
								<span class="r"></span>
								<span class="t">О компании</span>
							</a>
						</li>
						<li class="item466">
							<a href="/experience">
								<span class="l"></span>
								<span class="r"></span>
								<span class="t">Опыт работы</span>
							</a>
						</li>
						<li class="item467">
							<a href="/contacts">
								<span class="l"></span><span
									class="r"></span>
								<span class="t">Наши контакты</span>
							</a>
						</li>
						<li class="item468">
							<a href="/offer">
								<span class="l"></span><span
									class="r"></span>
								<span class="t">Предложение заказчика</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="cleared reset-box"></div>
		<div class="art-content-layout">
			<div class="art-content-layout-row">
				<div class="art-layout-cell art-sidebar1">
					<div class="art-layout-glare">
						<div class="art-layout-glare-image"></div>
					</div>

					<div class="art-block">
						<div class="art-block-body">

							<div class="art-blockheader">
								<h3 class="t">Меню</h3>
							</div>
							<div class="art-blockcontent">
								<div class="art-blockcontent-body">

									<ul class="menu">
										<li class="active item435"><a href="/">О компании</a></li>
										<li class="item294"><a href="/energy">Энергоаудит</a></li>
										<li class="item238"><a href="/acts">Законодательство</a></li>
										<li class="item455"><a href="/experience">Опыт работы</a>
										</li>
										<li class="item469"><a href="/contacts">Наши контакты</a></li>
										<li class="item469"><a href="/offer">Предложение заказчика</a></li>
										<li class="item469"><a href="/certification">Аттестация рабочих мест</a>
										</li>
									</ul>

									<div class="cleared"></div>
								</div>
							</div>

							<div class="cleared"></div>
						</div>
					</div>

					<div class="cleared"></div>
				</div>
				<div class="art-layout-cell art-content">

					<div class="blog-featured">
						<div class="items-leading">
							<div class="leading-0">
								<div class="art-post">
									<div class="art-post-body">
										<div class="art-post-inner">
											{% block body_title_with_url %}
												<h2 class="art-postheader">
													{{ title_text|default:"О компании" }}
												</h2>
											{% endblock body_title_with_url %}


											<div class="art-postcontent">
												<div class="art-article">
													{% block body_text %}
														<p>
															Здесь может быть любой текст включая картинки
														</p>

														<p>Joomla! is a flexible and powerful platform, whether you
															are building a small
															site for yourself or a huge site with hundreds of
															thousands of visitors. Joomla
															is open source, which means you can make it work just
															the way you want it
															to.
														</p>
													{% endblock body_text %}
												</div>
											</div>
											<div class="cleared"></div>
										</div>

										<div class="cleared"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cleared"></div>
				</div>
				<div class="art-layout-cell art-sidebar2">
					<div class="art-layout-glare">
						<div class="art-layout-glare-image"></div>
					</div>
					<div class="art-block">
						<div class="art-block-body">

							<div class="art-blockheader">
								<h3 class="t">
									</h3>
							</div>
							<div class="art-blockcontent">
								<div class="art-blockcontent-body">

									<div class="bannergroup">

										<div class="banneritem">
											<br/>

											<div align="center">
											</div>
											<br/>

											<div class="clr"></div>
										</div>

									</div>

									<div class="cleared"></div>
								</div>
							</div>

							<div class="cleared"></div>
						</div>
					</div>

					<div class="cleared"></div>
				</div>

			</div>
		</div>
		<div class="cleared"></div>

		<div class="art-footer">
			<div class="art-footer-t"></div>
			<div class="art-footer-body">
				<div class="art-footer-text">
					<p><br/></p>

				</div>
				<div class="cleared"></div>
			</div>
		</div>

		<div class="cleared"></div>
	</div>
</div>
<div class="cleared"></div>
<p class="art-page-footer login">
	{% if user %}
		<a href="/logout">Выйти</a>
		{% if is_admin %}
			<p>admin</p>
		{% endif %}
		<p>
			{{ user.nickname }}
		</p>
	{% else %}
		<a href="/login">Войти</a>
	{% endif %}
</p>

<div class="cleared"></div>
</div>
</div>

</body>
</html>