<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	{% block header %}

		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="robots" content="index, follow"/>
		<meta content="{% block keywords %}{% endblock keywords %}" name="keywords">
		<meta content="{% block description %}{% endblock description %}" name="description">
		<title>
			{% block title %}
				О компании
			{% endblock title %}
		</title>

		{% block add_js %}{% endblock %}

		{% block add_css %}{% endblock %}

		<link rel="stylesheet" href="/public/css/layout/trees/template.css" type="text/css"/>
		<link rel="stylesheet" href="/public/css/layout/trees/content.css" type="text/css"/>
		<link rel="stylesheet" href="/public/css/layout/trees/menu.css" type="text/css"/>
	{% endblock header %}

</head>
<body>

<div id="marginauto">
	<div id="container">
		<div id="left">
			<div id="leftspace">
				<div id="lefttop">
					<div id="logo"></div>
					<div id="leftcontent">
						<div class="moduletable_menu">
							<h3>Меню</h3>
							<ul class="menu">
								{% autoescape off %}
									<li {{ menu_current.about }} class=""><a href="/">
										<span>О компании</span>
									</a></li>
									<li {{ menu_current.deliver }} class=""><a href="/deliver">
										<span>Доставка кормов</span>
									</a></li>
									<li {{ menu_current.equip }} class=""><a href="/equip">
										<span>Приборы</span>
									</a></li>
									<li {{ menu_current.exp }} class=""><a href="/exp">
										<span>Опыт работы</span>
									</a></li>
									<li {{ menu_current.lic }} class=""><a href="/lic">
										<span>Лицензии</span>
									</a></li>
									<li {{ menu_current.offer }} class=""><a href="/offer">
										<span>Предложение заказчика</span>
									</a></li>
									<li {{ menu_current.par }} class=""><a href="/par">
										<span>Партнеры</span>
									</a></li>
									<li {{ menu_current.con }} class=""><a href="/con">
										<span>Наши контакты</span>
									</a></li>
								{% endautoescape %}
							</ul>
						</div>
					</div>
				</div>
				<div id="leftbottom"></div>
			</div>
			<div class="user_box"></div>
		</div>
		<div id="right">
			<div id="right_top">
			</div>
			<div id="right_topmenu">
				<div id="right_top_left">
					<div id="right_top_right">
						<div id="right_topmenu_content"></div>
					</div>
				</div>

			</div>
			<div id="right_header">
				<div id="right_bottom">
					<div id="banner"></div>
				</div>
			</div>
			<div id="maincontent">
				<div id="content">
					{% block body_text %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div id="footer"><!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t20.10;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->

			<div id="othermenu">
				{% if user %}
					{% if is_admin %}
						<p>admin</p>
					{% endif %}
					<p>{{ user.nickname }}</p>
					<a href="/logout">Выйти</a>
				{% else %}
					<a href="/login">Войти</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
</body>
</html>